/* Coolors Exported Palette - coolors.co/0fa3b1-b5e2fa-f9f7f3-eddea4-f7a072 */

/* HSL */
$back: hsla(185%, 84%, 38%, 1);
$txt_1: hsla(201%, 87%, 85%, 1);
$color3: hsla(40%, 33%, 96%, 1);
$color4: hsla(48%, 67%, 79%, 1);
$color5: hsla(21%, 89%, 71%, 1);

/* RGB */
// $color1: rgba(15, 163, 177, 1);
// $color2: rgba(181, 226, 250, 1);
// $color3: rgba(249, 247, 243, 1);
// $color4: rgba(237, 222, 164, 1);
// $color5: rgba(247, 160, 114, 1);
