.line {
    fill: none;
    stroke: $color5;
    stroke-width: 2px;
}

.vertical-lines--container {
    .line {
        fill: none;
        stroke: $color3;
        stroke-dasharray: 5;
        stroke-width: .5px;
    }
}

.sneak {
    circle {
        stroke: $txt_1;
        stroke-width: 3;
        fill: $txt_1;
        stroke-linecap: round;
    }
}
