 .profile {
     .profile--info {
         .info--name {
             font-size: $font-size-xl;
             font-weight: bold;
         }
     }
     .profile--picture {
         .picture--img {
             text-align: center;
             width: 100%;
             max-width: 400px;
             border-radius: 200px;
         }
     }
     .profile--update-btn {
         padding: 10px 20px;
         color: $back;
         background-color: $color5;
         border: none;
     }
 }
